@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

.navbar-brand{
    width: 180px;
    padding-left: 15px;
}

.navbar{
    background-color: #EBFFEC;
    max-height: 150px;
    overflow: hidden;
    width: 100%;
}

.nav-link{
    font-size: 20px;
}

.profile {
    height: 40px;
}


.submitter .formulir{
    width: 95%;
    margin-left: 50px;
}

.submitter input, .submitter select, .submitter textarea{
    border: 1px solid black;
}

.box{
    border: 5px dashed grey;
    border-spacing: 5px;
    height: 320px;
    width: 450px;
}

.wadah img{
    width: 200px;
    max-width: 400px;
    height: 150px;
    margin: 70px 0 50px 110px;
}

#tambahBtn{
    width: 300px;
    height: 55px;
    margin-left: 120px;
}