* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #EBFFEC;
}

.container {
    height: 500px;
    width: 500px;
    border-radius: 20px;
}

.nvbr {
    margin-top: 23px;
    margin-right: 125px;
    color: #000;
    text-align: center;
    font-size: 25px;
    font-family: Poppins;
    font-weight: 700;
}

.form-group {
    color: #000;
    font-size: 15px;
    font-family: Poppins;
    font-weight: 700;
}