@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    background-color: #EBFFEC;
}

.logo{
    width: 70px;
    margin: 10px 0 0 10px;
}

.container {
    height: 500px;
    width: 500px;
    border-radius: 20px;
}

.nvbr {
    margin-top: 23px;
    margin-right: 125px;
    color: #000;
    text-align: center;
    font-size: 25px;
    font-family: Poppins;
    font-weight: 700;
}

.form-group {
    color: #000;
    font-size: 15px;
    font-family: Poppins;
    font-weight: 700;
}