@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap');


* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}


body {
    background-color: #EBFFEC;
}

.logo {
    width: 70px;
    margin: 10px 0 0 20px;
}

.container {
    height: 500px;
    border-radius: 20px;
}

.judul {
    text-align: center;
    margin-top: 100px;
}

.row {
    margin-left: 230px;
    margin-top: 10px;
}

.card {
    height: 230px;
    border-radius: 25px;
    justify-content: center;
    cursor: pointer;
}

.card.selected {
    border: 2px solid rgb(64, 64, 180);
    font-size: 16px;
    transform: scale(1.1);
}

.col>.card:hover {
    transform: scale(1.1);
}

.card-body {
    text-align: center;
}

.card>img {
    margin-left: 50px;
    margin-top: 50px;
}

.judul {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 60px;
    color: #000000;
}

.card-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 72px;
    text-align: center;
    color: #000000;
}

.btn {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}